@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #ADE4DB, #6DA9E4);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.todolist {
    border: 2px solid #fff;
    background-color: #f5cc99;
    border-radius: 18px;
    width: 35%;
    padding: 2rem 2rem ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.todolist-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #000000;
    font-weight: 500;
}


.todolist-cadastro-input {
    outline: none;
    width: 18.75rem;
    height: 1.87rem;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 500;
}


.button{
    width: 40px;
    height: 1.87rem;
    background-color: #ADE4DB;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    font-size: 1.1rem;
    color: #806d07;
}

.button:hover {
    background-color: #6DA9E4 ;
}
.todolist-list-tasks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.todolist-list-item{
    display: flex;
    border: 1px solid black ;
    
}
.list-style {

    list-style: none;
    background-color: white; 
    width: 18.75rem;
    height: 1.87rem;
}

.fa-delete-left {
    background-color: white;
    font-size: 20px;

}

.delete-btn > * {
    pointer-events: none;
}

.line-through{
    text-decoration: line-through;
    font-weight: 500;
}

@media (max-width: 1177px){
    .todolist-cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .button {
        width: 300px;
    }

}

@media (max-width: 1000px) {
    .todolist {
        border: 2px solid #fff;
        background-color: #f5cc99;
        border-radius: 18px;
        width: 60%;
        padding: 2rem 2rem ;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    
    .todolist-cadastro-input {
        outline: none;
        width: 20.75rem;
        height: 1.87rem;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        color: #000000;
        font-weight: 500;
    }
    .todolist-cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .button {
        width: 250px;
    }

    .list-style {

        list-style: none;
        background-color: white; 
        width: 20.75rem;
        height: 1.87rem;
    }

    

    

}

@media (max-width: 638px) {
    .todolist {
        border: 2px solid #fff;
        background-color: #f5cc99;
        border-radius: 18px;
        width: 60%;
        padding: 2rem 2rem ;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    
    .todolist-cadastro-input {
        outline: none;
        width: 15.75rem;
        height: 1.87rem;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        color: #000000;
        font-weight: 500;
    }
    .todolist-cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .button {
        width: 100px;
    }

    .list-style {

        list-style: none;
        background-color: white; 
        width: 14.75rem;
        height: 1.87rem;
    }

    

    

}

@media (max-width: 468px) {
    .todolist {
        border: 2px solid #fff;
        background-color: #f5cc99;
        border-radius: 18px;
        width: 80%;
        padding: 2rem 2rem ;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    

}

@media (max-width: 350px) {
    .todolist {
        border: 2px solid #fff;
        background-color: #f5cc99;
        border-radius: 18px;
        width: 90%;
        padding: 2rem 2rem ;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    

}

@media (max-width: 330px) {
    .todolist {
        border: 2px solid #fff;
        background-color: #f5cc99;
        border-radius: 18px;
        width: 90%;
        padding: 2rem 2rem ;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .todolist-cadastro-input {
        outline: none;
        width: 14.75rem;
        height: 1.87rem;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        color: #000000;
        font-weight: 500;
    }
    .todolist-cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .button {
        width: 100px;
    }

    .list-style {

        list-style: none;
        background-color: white; 
        width: 10.75rem;
        height: 1.87rem;
    }
    

}